In [127]:
import pandas as pd
import sqlalchemy
import json
import datetime as dt
import html5lib
import lxml
from bs4 import BeautifulSoup as bs4
from sqlalchemy import create_engine

In [137]:
rds_connection_string = "postgres:postgres@localhost:5432/ETL_Project"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [2]:
gun_permits_csv = "federal-firearms-licenses.csv"
gun_violence_csv = "gun-violence-data_01-2013_03-2018.csv"
gun_p = "0118-ffl-list.csv"
pop_url = "https://simple.wikipedia.org/wiki/List_of_U.S._states"
firearms = "firearms.xlsx"

In [3]:
gun_permit_df = pd.read_csv(gun_permits_csv)
gun_violence_df = pd.read_csv(gun_violence_csv)
population = pd.read_html(pop_url)
firearm = pd.read_excel(firearms, header=2)

C:\Users\Deepak\Anaconda\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (1,2,3,4,5,6,7,10,12,15,16,17,18,19,20,21,22,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
#view columns
gun_permit_df.columns

Index(['license_state', 'license_status', 'license_number', 'license_type',
       'additional_license', 'additional_license_type', 'license_start_date',
       'license_expire_date', 'licensee_name_business', 'licensee_principal',
       'establishment_address_full', 'establishment_address_street1',
       'establishment_address_street2', 'establishment_address_city',
       'establishment_address_state', 'establishment_address_zip',
       'licensee_address_full', 'licensee_address_street1',
       'licensee_address_street2', 'licensee_address_city',
       'licensee_address_state', 'licensee_address_zip', 'establishment_type',
       'email', 'phone', 'serialid'],
      dtype='object')

In [46]:
gun_permit_df.head(15)

,license_state,license_status,license_number,license_type,additional_license,additional_license_type,license_start_date,license_expire_date,licensee_name_business,licensee_principal,...,licensee_address_full,licensee_address_street1,licensee_address_street2,licensee_address_city,licensee_address_state,licensee_address_zip,establishment_type,email,phone,serialid
0,Alaska,NaN,1,Common Carrier - Single Destination,NaN,NaN,NaN,2017-01-01,Alaska Airlines - Multiple,"Alaska Airlines, Inc.",...,PO Box 68900 SEAZL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,206-392-5875,1
1,Alaska,NaN,3,Beverage Dispensary,NaN,NaN,NaN,2007-01-01,Acres Bar,Acres Lounge Inc,...,PO Box 1327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(907) 835-2269,2
2,Alaska,NaN,5,Beverage Dispensary-Tourism AS 04.11.400(d),NaN,NaN,NaN,NaN,"AHTNA, THE",AHTNA DEVELOPMENT CORPORATION,...,DRAWER G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,Alaska,NaN,6,Beverage Dispensary-Tourism AS 04.11.400(d),NaN,NaN,NaN,2016-01-01,Airport Lounge & Snack Bar,Airport Lounge & Snack Bar LLC,...,PO Box 8256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(907) 225-6455,4
4,Alaska,NaN,7,Package Store,NaN,NaN,NaN,NaN,AIRPORT ROAD LIQUOR STORE,M & R INC,...,3206 AIRPORT RD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
5,Alaska,NaN,8,Package Store,NaN,NaN,NaN,2018-01-01,Alaska Commercial Company,"The North West Company (International), Inc.",...,77 Main Street Attn. Legal Dept.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(907) 383-3111 204-934-1705; 907-273-4642,6
6,Alaska,NaN,10,Beverage Dispensary-Tourism AS 04.11.400(d),NaN,NaN,NaN,2017-01-01,Al's Alaskan Inn,Allen Henry Choy LLC,...,7830 Old Seward Hwy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(907) 440-9176,7
7,Alaska,NaN,11,Common Carrier - Single Destination,NaN,NaN,NaN,2017-01-01,Alaska Airlines - Adak,"Alaska Airlines, Inc.",...,PO Box 68900 SEAZL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,206-392-5875,8
8,Alaska,NaN,12,Common Carrier - Single Destination,NaN,NaN,NaN,2017-01-01,Alaska Airlines - Anchorage,"Alaska Airlines, Inc.",...,PO Box 68900 SEAZL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,206-392-5875,9
9,Alaska,NaN,13,Common Carrier - Single Destination,NaN,NaN,NaN,2017-01-01,Alaska Airlines - Kodiak,"Alaska Airlines, Inc.",...,PO Box 68900 SEAZL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,206-392-5875,10
10,Alaska,NaN,15,Common Carrier - Single Destination,NaN,NaN,NaN,2017-01-01,Alaska Airlines - King Salmon,"Alaska Airlines, Inc.",...,PO Box 68900 SEAZL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,206-392-5875,11
11,Alaska,NaN,16,Common Carrier - Single Destination,NaN,NaN,NaN,2017-01-01,Alaska Airlines - Bethel,"Alaska Airlines, Inc.",...,PO Box 68900 SEAZL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,206-392-5875,12
12,Alaska,NaN,17,Common Carrier - Single Destination,NaN,NaN,NaN,2017-01-01,Alaska Airlines - Barrow,"Alaska Airlines, Inc.",...,PO Box 68900 SEAZL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,206-392-5875,13
13,Alaska,NaN,18,Common Carrier - Single Destination,NaN,NaN,NaN,2017-01-01,Alaska Airlines - Cordova,"Alaska Airlines, Inc.",...,PO Box 68900 SEAZL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,206-392-5875,14
14,Alaska,NaN,19,Common Carrier,NaN,NaN,NaN,NaN,ALASKA AIRLINES - B727 N293,"Alaska Airlines, Inc.",...,PO Box 68900 SEAZL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15

In [6]:
gun_permit_df.license_state.value_counts()

Louisiana                    1070734
Ohio                          360847
North Carolina                173246
Florida                       165953
Georgia                       119756
California                    114501
Texas                          62515
New York                       51511
Arizona                        35070
Minnesota                      30424
Illinois                       28158
Alabama                        27311
Pennsylvania                   25407
New Hampshire                  21781
Indiana                        20681
South Carolina                 20204
Iowa                           19487
Oregon                         19422
Virginia                       18583
Missouri                       17034
Wisconsin                      16975
Michigan                       16042
West Virginia                  14425
Colorado                       14316
Kentucky                       14067
Washington - ON                10381
Washington - OFF                9118
New Jersey                      9030
Massachusetts - ON              8770
Maryland                        8000
Idaho                           4870
Alaska                          4861
Nebraska                        4817
Arkansas                        3936
Maine                           3738
Oklahoma                        3709
Tennessee - ON                  3470
Vermont                         3378
Connecticut                     3376
Massachusetts - OFF             2863
Washington DC                   1963
Utah                            1827
North Dakota                    1589
Wyoming                         1429
Hawaii (Honolulu)               1420
Delaware                        1286
Tennessee - OFF                 1207
Rhode Island (Providence)       1111
Name: license_state, dtype: int64

In [7]:
#retrieve wanted columns
gun_permit_df.head()
gun_permit_cleaning = gun_permit_df[['license_state', 'license_start_date', 'license_expire_date']].copy()

In [8]:
#drop NA from start & expire date column
gun_permit_cleaning.dropna(subset=['license_start_date', 'license_expire_date'], inplace=True)

In [9]:
#filter for dates after 2013-01-01
gun_permit = gun_permit_cleaning.loc[(gun_permit_cleaning['license_start_date'] >= '2013-01-01') 
                                            & (gun_permit_cleaning['license_start_date'] < '2018-01-01')]

In [10]:
#create new table from gun permit that contains 50 states and counts 
state_table_permit = gun_permit.groupby('license_state').count()

In [11]:
#rename and drop
state_table_permit = state_table_permit.rename(columns={'license_start_date':'Permits_Issued'})
state_table_permit.drop(columns=['license_expire_date'], inplace=True)

In [12]:
state_table_permit

                           Permits_Issued
license_state
Arizona                              5385
California                          36666
Connecticut                          3372
Florida                             93499
Georgia                             85393
Idaho                                4870
Illinois                            28030
Indiana                              5230
Iowa                                 5766
Minnesota                            4564
New Hampshire                         941
New York                            51447
North Carolina                       7818
Oregon                              19152
Pennsylvania                        18439
Rhode Island (Providence)             746
South Carolina                      20204
Texas                               24549
Virginia                            18583
Washington - OFF                     8850
Washington - ON                     10287
West Virginia                        1113

In [13]:
gun_violence_df.date.dropna(inplace = True)

In [14]:
gun_violence_df['date'] = pd.to_datetime(gun_violence_df['date'])

In [15]:
gun_violence_df.dtypes

incident_id                             int64
date                           datetime64[ns]
state                                  object
city_or_county                         object
address                                object
n_killed                                int64
n_injured                               int64
incident_url                           object
source_url                             object
incident_url_fields_missing              bool
congressional_district                float64
gun_stolen                             object
gun_type                               object
incident_characteristics               object
latitude                              float64
location_description                   object
longitude                             float64
n_guns_involved                       float64
notes                                  object
participant_age                        object
participant_age_group                  object
participant_gender                     object
participant_name                       object
participant_relationship               object
participant_status                     object
participant_type                       object
sources                                object
state_house_district                  float64
state_senate_district                 float64
dtype: object

In [17]:
gun_violence = gun_violence_df[['date', 'state', 'n_killed', 'n_injured' ]].copy()

In [18]:
#create table of states and count incidents
state_violence = gun_violence.groupby('state').count()
state_violence = state_violence.rename(columns={'date':'Incidents'})

#change values in columns to match number killed and number injured
state_violence['n_killed'] = gun_violence.groupby('state').sum()['n_killed']
state_violence['n_injured'] = gun_violence.groupby('state').sum()['n_injured']

In [74]:
state_violence.rename(columns={'n_killed':'#Killed',
                            'n_injured':'#Injured'}, 
                     inplace=True)
state_violence.rename_axis("State", axis='index', inplace=True)

In [75]:
state_violence.head()

            Incidents  #Killed  #Injured
State
Alabama          5471     1880      2998
Alaska           1349      267       325
Arizona          2328     1094      1096
Arkansas         2842      773      1347
California      16306     5562      7644

In [31]:
#html imported as a dataframe in a list, seperate datafram
pop =  population[0]

#copy only columns wanted
pop_clean = pop[['Name &postal abbreviation[1]', 'Population[upper-alpha 2][3]']]

#rename columns
pop_clean = pop_clean.rename(columns={'Name &postal abbreviation[1]':'State', 
                                     'Population[upper-alpha 2][3]':'Population'})

In [34]:
#extract columns and create a new dataframe
#I did this to do away with the weird multi-indexing and subcolumns issues
pop_clean.State = pop_clean.State.astype(str)
state = []
for i, row in pop_clean.iterrows():
    state.append([row[0], row[2]])

Population = pd.DataFrame(state, columns=['State',  'Population'])

In [35]:
#clean state names
st = []
for list in Population.State.str.split("["):
    st.append(list[0])

Population.State = st

In [38]:
Population.head()

        State  Population
0     Alabama     4903185
1      Alaska      731545
2     Arizona     7278717
3    Arkansas     3017804
4  California    39512223

In [ ]:
#drop unwanted columns
firearm.drop([51, 52, 53, 54], axis=0, inplace=True)
firearm.drop(['Unnamed: 8'], axis=1, inplace=True)

In [28]:
firearm.drop([7], axis=0, inplace=True)

In [40]:
Population.State.unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia',
       'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
       'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
       'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma',
       'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
       'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype=object)

In [96]:
State_db = pd.merge(Population, firearm, how='inner', on='State')

In [97]:
State_db.set_index('State', inplace=True)

In [98]:
State_final_db = pd.merge(State_db, state_violence, how='left', on='State')

In [99]:
State_final_db.columns

Index(['Population', 'Any Other Weapon1', 'Destructive Device2', 'Machinegun3',
       'Silencer4', 'Barreled Rifle5', 'Barreled Shotgun6', 'Total',
       'Incidents', '#Killed', '#Injured'],
      dtype='object')

In [100]:
State_final_db.rename(columns={'Any Other Weapon1':'Other_Weapon', 
                               'Destructive Device2':'Destructive_Device', 
                               'Machinegun3':'Machinegun',
                               'Silencer4':'Silencer',
                               'Barreled Rifle5':'Barreled_Rifle',
                               'Barreled Shotgun6':'Barreled_Shotgun',
                               'Total':'Total_Weapons'},
                                inplace=True)

In [108]:
State_final_db.dtypes

Population              int64
Other_Weapon          float64
Destructive_Device    float64
Machinegun            float64
Silencer              float64
Barreled_Rifle        float64
Barreled_Shotgun      float64
Total_Weapons         float64
Incidents               int64
#Killed                 int64
#Injured                int64
dtype: object

In [124]:
#Convert all values to float
State_final_db = State_final_db.apply(pd.to_numeric, axis=1)

In [155]:
State_final_db.rename(columns={'#Killed':'people_killed', '#Injured':'people_injured'})
State_final_db.columns = State_final_db.columns.str.lower()

In [126]:

#write file to csv 
output_File = "ETL_csv.csv"
State_final_db.to_csv(output_File, index=False)
State_final_db
pd.

In [156]:
#write to postgresql database
State_final_db.to_sql(name = 'state_data', con=engine, if_exists='replace')

In [158]:
#query and read postgres database
pd.read_sql_query('Select * from state_data', con=engine)

,State,population,other_weapon,destructive_device,machinegun,silencer,barreled_rifle,barreled_shotgun,total_weapons,incidents,#killed,#injured
0,Alabama,4903185.0,1228.0,80726.0,29757.0,46902.0,7214.0,2438.0,168265.0,5471.0,1880.0,2998.0
1,Alaska,731545.0,332.0,5346.0,1674.0,9250.0,2503.0,1415.0,20520.0,1349.0,267.0,325.0
2,Arizona,7278717.0,1365.0,108692.0,17841.0,55099.0,19124.0,2696.0,204817.0,2328.0,1094.0,1096.0
3,Arkansas,3017804.0,651.0,70179.0,5657.0,26804.0,4279.0,1231.0,108801.0,2842.0,773.0,1347.0
4,California,39512223.0,4113.0,299766.0,30173.0,15131.0,13354.0,14129.0,376666.0,16306.0,5562.0,7644.0
5,Colorado,5758736.0,1045.0,50349.0,7377.0,41983.0,10008.0,1929.0,112691.0,3201.0,796.0,1133.0
6,Connecticut,3565278.0,973.0,13647.0,41920.0,13731.0,3567.0,1039.0,74877.0,3067.0,341.0,1258.0
7,Delaware,973764.0,35.0,3324.0,542.0,388.0,357.0,635.0,5281.0,1685.0,217.0,853.0
8,Florida,21477737.0,3881.0,216851.0,45893.0,118097.0,38216.0,9643.0,432581.0,15029.0,3909.0,7072.0
9,Georgia,10617423.0,2113.0,80158.0,33743.0,82003.0,16238.0,11738.0,225993.0,8925.0,2456.0,4056.0
10,Hawaii,1415872.0,34.0,7794.0,435.0,259.0,70.0,73.0,8665.0,289.0,63.0,85.0
11,Idaho,1787065.0,648.0,21792.0,4899.0,26773.0,4136.0,549.0,58797.0,661.0,166.0,149.0
12,Illinois,12671821.0,1033.0,107116.0,30893.0,2729.0,4204.0,1723.0,147698.0,17556.0,3409.0,13514.0
13,Indiana,6732219.0,1703.0,45691.0,20185.0,47950.0,8827.0,9238.0,133594.0,5852.0,1608.0,2956.0
14,Iowa,3155070.0,898.0,17203.0,3697.0,12074.0,1576.0,1092.0,36540.0,2517.0,273.0,821.0
15,Kansas,2913314.0,733.0,24573.0,3691.0,19677.0,4584.0,1151.0,54409.0,2145.0,542.0,931.0
16,Kentucky,4467673.0,1140.0,33595.0,17818.0,33903.0,5278.0,1985.0,93719.0,4157.0,1066.0,1894.0
17,Louisiana,4648794.0,586.0,56603.0,7294.0,42611.0,7401.0,1903.0,116398.0,8103.0,2179.0,4398.0
18,Maine,1344212.0,589.0,3611.0,5141.0,5014.0,2540.0,515.0,17410.0,907.0,112.0,132.0
19,Maryland,6045680.0,1074.0,55663.0,34026.0,27421.0,6184.0,3921.0,128289.0,5798.0,1691.0,3167.0
20,Massachusetts,6892503.0,859.0,17682.0,6876.0,9210.0,4263.0,996.0,39886.0,5981.0,472.0,1701.0
21,Michigan,9986857.0,1216.0,28265.0,16650.0,29220.0,6501.0,1503.0,83355.0,6136.0,1588.0,2990.0
22,Minnesota,5639632.0,2695.0,50767.0,8556.0,29485.0,5939.0,1143.0,98585.0,2408.0,461.0,916.0
23,Mississippi,2976149.0,468.0,17499.0,4588.0,24925.0,3864.0,1002.0,52346.0,3599.0,1176.0,1883.0
24,Missouri,6137428.0,1488.0,34637.0,10051.0,31121.0,8176.0,2797.0,88270.0,6631.0,2136.0,3585.0
25,Montana,1068778.0,454.0,4423.0,2416.0,13635.0,1994.0,554.0,23476.0,638.0,154.0,136.0
26,Nebraska,1934408.0,779.0,7608.0,2303.0,15414.0,2785.0,864.0,29753.0,1651.0,225.0,674.0
27,Nevada,3080156.0,1017.0,41134.0,15313.0,26140.0,10247.0,2971.0,96822.0,1952.0,799.0,951.0
28,New Hampshire,1359711.0,462.0,5225.0,17545.0,29866.0,5676.0,567.0,59341.0,964.0,88.0,144.0
29,New Jersey,8882190.0,433.0,45241.0,36756.0,2526.0,2666.0,2595.0,90217.0,5387.0,1168.0,2540.0
30,New Mexico,2096829.0,319.0,84787.0,4086.0,12218.0,3644.0,782.0,105836.0,1645.0,495.0,543.0
31,New York,19453561.0,1769.0,48178.0,13384.0,4707.0,7076.0,7803.0,82917.0,9712.0,1705.0,5059.0
32,North Carolina,10488084.0,995.0,98302.0,15549.0,49977.0,13080.0,3306.0,181209.0,8739.0,2225.0,4629.0
33,North Dakota,762062.0,202.0,3404.0,1630.0,12712.0,1473.0,299.0,19720.0,573.0,69.0,130.0
34,Ohio,11689100.0,1991.0,87146.0,21431.0,46939.0,11984.0,6328.0,175819.0,10244.0,2508.0,5703.0
35,Oklahoma,3956971.0,1213.0,17846.0,9510.0,45710.0,6941.0,1892.0,83112.0,3455.0,941.0,1550.0
36,Oregon,4217737.0,1603.0,24670.0,6597.0,32843.0,7433.0,1576.0,74722.0,2286.0,446.0,694.0
37,Pennsylvania,12801989.0,2385.0,161645.0,20997.0,57200.0,15660.0,13540.0,271427.0,8929.0,2395.0,5056.0
38,Rhode Island,1059361.0,41.0,3516.0,644.0,91.0,254.0,109.0,4655.0,895.0,63.0,346.0
39,South Carolina,5148714.0,708.0,40330.0,10934.0,35945.0,7223.0,4143.0,99283.0,6939.0,1610.0,3084.0
40,South Dakota,884659.0,376.0,4245.0,1990.0,23132.0,1163.0,228.0,31134.0,544.0,90.0,114.0
41,Tennessee,6829174.0,1756.0,48750.0,14328.0,39935.0,10149.0,6222.0,121140.0,7626.0,1824.0,4478.0
42,Texas,28995881.0,7410.0,275529.0,39903.0,330806.0,62504.0,9216.0,725368.0,13577.0,5046.0,6106.0
43,Utah,3205958.0,504.0,18154.0,7572.0,58448.0,7190.0,1572.0,93440.0,1072.0,282.0,402.0
44,Vermont,623989.0,232.0,3067.0,1421.0,2177.0,655.0,164.0,7716.0,472.0,57.0,73.0
45,Virginia,8535519.0,2983.0,224550.0,38532.0,60811.0,21420.0,8667.0,356963.0,5949.0,1459.0,3566.0
46,Washington,7614893.0,1965.0,52180.0,4525.0,48010.0,12109.0,1040.0,119829.0,3434.0,853.0,1287.0
47,West Virginia,1792147.0,471.0,20948.0,7084.0,9627.0,2379.0,1142.0,41651.0,1575.0,335.0,649.0
48,Wisconsin,5822434.0,797.0,33621.0,8138.0,29333.0,6400.0,1350.0,79639.0,4787.0,862.0,2117.0
49,Wyoming,578759.0,322.0,119982.0,1915.0,9902.0,1528.0,401.0,134050.0,494.0,73.0,52.0